* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: '"Noto Sans TC"', 'sans-serif', '"Segoe UI"', 'Roboto', '"Helvetica Neue"', 'Arial',
		'"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"';
}
